# ignore bin directory
user_doc/Linienscanner.aux
user_doc/Linienscanner.log
user_doc/Linienscanner.out
user_doc/Linienscanner.synctex.gz
user_doc/Linienscanner.tex.backup
doc/html
data
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeFiles
build/**
